<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <img src="<%= booklist.image_url %>" alt="">
        <h2><%= booklist.title %> </h2>
        <h2><%= booklist.author %></h2>
        <h4><%= booklist.isbn  %> </h4>
        <p><%= booklist.description %></p>
    </div>
</body>
</html>